
*.html
*.pyc
*.xml
*.json
Output*.txt
output*.txt
abfahrt/Result/*.txt
abfahrt/output.txt
output.txt
abfahrt/output_generated.txt
abfahrt/input_generated.txt
output_generated.txt
input_generated.txt
*.iml
